# Auto detect text files and perform LF normalization
* text=auto
*.res5 filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
.resS filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
* text=auto eol=lf